$button-drop-size:  2px;
[override] osb-manga-reader {
  .btn:focus,.btn:active {
    outline: none !important;
  }

  .btn-default {
    background-color: $alabaster;
    background-image: none;
    border: 0;

    &:hover {
      background-color: $silver-chalice;
    }

    &:active, &.active {
      margin-bottom: -$button-drop-size;
      margin-top: $button-drop-size;
    }
  }

  .btn-primary {
    background-color: $azure-radiance;
    background-image: none;
    box-shadow: 0 $button-drop-size 0 0 rgba($prussian-blue, 0.7);
    border: 0;

    &:hover {
      background-color: $endeavour;
    }

    &:active, &.active {
      background-color: $endeavour;
      box-shadow: none;
      margin-bottom: -$button-drop-size;
      margin-top: $button-drop-size;
    }

    &:focus {
      outline: none;
    }
  }
}