$color-white:         #FFF;
$color-black:         #000;
$alabaster:           #f7f7f7;
$silver-chalice:      #B0B0B0;
$mine-shaft:          #242424;
$azure-radiance:      #0285E3;
$endeavour:           #0065AD;
$prussian-blue:       #002A47;
$downriver:           #090e51;
$deep-cove:           #040730;
$milano-red:          #af0808;