$breakpoint-large:        1200px;
$breakpoint-large-min:    1999px;
$breakpoint-medium:       990px;
$breakpoint-medium-min:   989px;
$breakpoint-small:        768px;
$breakpoint-small-min:    767px;
$breakpoint-x-small:      640px;