[override] osb-manga-reader {
  .nav-holder {
    width: 100%;
    background: rgba($color-white, 0.5);
    border-bottom: 1px solid $color-black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .main-nav {
    margin-top: 10px;

    li:first-child button {
      margin-left: 10px;
    }
  }

  .bookmark-nav-holder {
    min-width: 120px;
    display: inline-block;
    text-align: right;

    @media (max-width: $breakpoint-x-small) {
      min-width: 100px;
    }

    .fa-bookmark {
      -webkit-text-fill-color: $color-white;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $milano-red;
    }
  }

  .chapterDetails {
    display: inline-block;
  }

  .chapterOverlay {
    position: fixed;
    top: 50%;
    color: $color-white;
    padding: 6px 12px;
    background: rgba($color-black, 0.6);
    border: none;
  }

  .chapterNext {
    right: 0;
  }

  .chapterPrev {
    left: 0;
  }
}