[override] osb-manga-reader {
  .osb-manga-reader-holder {
    position: relative;
  }

  .mangaPage {
    padding-left: 0;
    padding-right: 0;

    img {
      height: 100%;
      width: auto;
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}